<h1>Students</h1>
<div>
    <div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<text>List of Students: ({{$ctrl.students.length}})</text>
			</div>
			<div class="panel-body">
				{{$ctrl.statusText}}
			    <table class="table table-striped table-bordered table-hover table-condensed">
					<tr>
						<th>Parent Name</th>
						<th>IX User?</th>
						<th>Mobile No</th>
						<th>Student Name</th>
						<th>Gender</th>
						<th>School</th>
						<th>Standard</th>
						<th>Pattern</th>
					</tr>
					<tr ng-repeat="s in $ctrl.students">
						<td>{{s.parentName}}</td>
						<td><input type="checkbox" ng-checked="$ctrl.isIXUser('{{s.parentType}}')" ng-disabled="true"/></td>
						<td>{{s.parentMobile}}</td>
						<td><a href="#!studentConsumption/{{s.key}}">{{s.name}}</a></td>
						<td>{{s.gender}}</td>
						<td>{{s.school}}</td>
						<td>{{s.standard}}</td>
						<td>{{s.pattern}}</td>
					</tr>
				</table>
			</div>
		</div>
    </div>
</div>

