<h1>Student Consumption</h1>
<div>
    <div class="col-md-8">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<text>Consumption By : {{$ctrl.studentName}}</text>
			</div>
			<div class="panel-body">
				{{$ctrl.statusText}}
				<div>
					<label>Total Time Spent : </label> {{$ctrl.totalTimeSpent}}
				</div>
			    <table> 
					<tr ng-repeat="(chap, time) in $ctrl.perChapterTime"> 
						<td class="col-md-8"><label>{{chap}}</label></td> 
						<td class="col-md-4">: {{time}}</td>
					</tr> 
				</table> 
			</div>
		</div>
    </div>
  </div>

