<h1>Patterns</h1>
<div>
    <div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<text>List of Patterns</text>
				<a href="" class="whiteText floatRight" ng-click="$ctrl.resetForm()">Create New</a>
			</div>
			<div class="panel-body">
				{{$ctrl.statusText}}
			    <ul> 
					<li ng-repeat="pat in $ctrl.patterns"> 
						<a ng-click="$ctrl.loadPattern(pat.key)" href="">{{pat.name}}</a> 
					</li> 
				</ul> 
			</div>
		</div>
    </div>
	<div class="col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading">Pattern Details</div>
			<div class="panel-body form-group">
				<label for="txtPatternName">Name:</label>
			    <input type="text" id="txtPatternName" ng-model="$ctrl.newPat.name" class="form-control"></input>
				<button type="button" class="btn btn-primary" id="btnCreate" ng-click="$ctrl.createUpdatePattern()">{{$ctrl.buttonText}}</button>
			</div>
		</div>
    </div>
  </div>

