<h1>Standards</h1>
<div>
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<text>Send In-App Message</text>
				<a href="" class="whiteText floatRight" ng-click="$ctrl.resetForm()">Clear Form</a>
			</div>
			<div class="panel-body form-group">
				<div>
					<label for="txtMsg">Message Text:</label>
					<label class="floatRight">Timestamp : {{$ctrl.newMsg.timestamp}}</label>
				</div>
			    <textarea type="text" id="txtMsg" ng-model="$ctrl.newMsg.message" class="form-control"></textarea>
				
				<button type="button" class="btn btn-primary" id="btnSend" ng-click="$ctrl.sendMessage()">Send Message</button>
			</div>
		</div>
    </div>
    <div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<text>Previous Messages</text>
			</div>
			<div class="panel-body">
				{{$ctrl.statusText}}
			    <table class="table table-striped table-bordered table-hover table-condensed">
					<tr>
						<th></th>
						<th>Message</th>
						<th>Timestamp</th>
					</tr>
					<tr ng-repeat="m in $ctrl.messages">
						<td><button type="button" ng-click="$ctrl.deleteMessage(m.key)">X</button></td>
						<td>{{m.message}}</td>
						<td>{{m.timestamp}}</td>
					</tr>
				</table> 
			</div>
		</div>
    </div>

  </div>

