<h1>Standards</h1>
<div>
    <div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<text>List of Standards</text>
				<a href="" class="whiteText floatRight" ng-click="$ctrl.resetForm()">Create New</a>
			</div>
			<div class="panel-body">
				{{$ctrl.statusText}}
			    <ul> 
					<li ng-repeat="std in $ctrl.standards"> 
						<a ng-click="$ctrl.loadStandard(std.key)" href="">{{std.name}} ({{std.abbr}})</a> 
					</li> 
				</ul> 
			</div>
		</div>
    </div>
	<div class="col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading">Standard Details</div>
			<div class="panel-body form-group">
				<label for="txtStdName">Name:</label>
			    <input type="text" id="txtStdName" ng-model="$ctrl.newStd.name" class="form-control"></input>
				<label for="txtStdAbbr">Abbreviation:</label>
			    <input type="text" id="txtStdAbbr" ng-model="$ctrl.newStd.abbr" class="form-control"></input>
				<label for="txtStdSeq">Sequence No:</label>
			    <input type="text" id="txtStdSeq" ng-model="$ctrl.newStd.seqNo" class="form-control"></input>
				<button type="button" class="btn btn-primary" id="btnCreate" ng-click="$ctrl.createUpdateStandard()">{{$ctrl.buttonText}}</button>
			</div>
		</div>
    </div>
  </div>

