<h1>Charts</h1>
<div class="row">
	<div class="panel-body">
		<div class="col-md-2">
			<label>Pattern:</label>
			<select ng-model="$ctrl.selPattern" class="form-control" ng-focus ng-options="p.name for p in $ctrl.patterns">
				<option value="">-- Select --</option>
			</select>
		</div>
		<div class="col-md-2">
			<label>Standards:</label>
			<select ng-model="$ctrl.selStandard" class="form-control" ng-options="s.name for s in $ctrl.standards">
				<option value="">-- Select --</option>
			</select>
		</div>
		<div class="col-md-2">
			<label>Subject:</label>
			<select ng-model="$ctrl.selSubject" class="form-control" ng-options="sb.name for sb in $ctrl.subjects">
				<option value="">-- Select --</option>
			</select>
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-primary" id="btnGo" ng-click="$ctrl.loadChaptersList()">Go</button>
		</div>
	</div>
</div>

<div class="row">
    <div class="col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<text>List of Charts</text>
				<a href="" class="whiteText floatRight" ng-click="$ctrl.resetForm()">Create New</a>
			</div>
			<div class="panel-body">
				<div>
					<label>Chapters:</label>
					<select ng-model="$ctrl.selChapter" class="form-control" ng-focus ng-change="$ctrl.loadChartsList()" ng-options="c.name for c in $ctrl.chapters">
						<option value="">-- Select --</option>
					</select>
				</div>
				<div>{{$ctrl.statusText}}</div>
				<label>Charts:</label>
			    <ul> 
					<li ng-repeat="chart in $ctrl.charts"> 
						<a ng-click="$ctrl.loadChart(chart.key)" href="">{{chart.shortCode}}</a> 
					</li> 
				</ul> 
			</div>
		</div>
    </div>
	<div class="col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading">Chart Details</div>
			<div class="panel-body form-group">
				<label for="txtSeqNo">Sequence No:</label>
			    <input type="text" id="txtSeqNo" ng-model="$ctrl.newChart.seqNo" class="form-control"></input>
				<label for="txtName">Chart Name:</label>
			    <input type="text" id="txtName" ng-model="$ctrl.newChart.name" class="form-control"></input>
				<label for="txtImgPath">Chart Code:</label>
				<p class="form-control-static">{{$ctrl.newChart.shortCode}}</p>
				<label for="txtImgPath">Chart Image Location:</label>
				<p class="form-control-static">{{$ctrl.newChart.imagePath}}</p>
				<label for="txtImgPath">Chart Thumbnail Location:</label>
				<p class="form-control-static">{{$ctrl.newChart.thumb}}</p>
				<label for="txtImg">Select Image:</label>
			    <input type="file" id="txtImg" vizi-file-model="imgFile" class="form-control"></input>
				<button type="button" class="btn btn-primary" id="btnCreate" ng-click="$ctrl.uploadChartImage()">{{$ctrl.buttonText}}</button>
				<button type="button" class="btn btn-primary" id="btnDelete" ng-click="$ctrl.deleteChart()">Delete</button>
				{{$ctrl.fileStatus}}
			</div>
		</div>
    </div>
	<div class="col-md-6">
		<img src="{{$ctrl.chartPreviewUrl}}" height="300" width="600" alt="" />
    </div>
  </div>

