<h1>Subjects</h1>
<div>
    <div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<text>List of subjects</text>
				<a href="" class="whiteText floatRight" ng-click="$ctrl.resetForm()">Create New</a>
			</div>
			<div class="panel-body">
				{{$ctrl.statusText}}
			    <ul> 
					<li ng-repeat="sub in $ctrl.subjects"> 
						<a ng-click="$ctrl.loadSubject(sub.key)" href="">{{sub.name}}</a> 
					</li> 
				</ul> 
			</div>
		</div>
    </div>
	<div class="col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading">Subject Details</div>
			<div class="panel-body form-group">
				<label for="txtSubName">Name:</label>
			    <input type="text" id="txtSubName" ng-model="$ctrl.newSub.name" class="form-control"></input>
				<label for="txtSubName">Color:</label>
			    <input type="text" id="txtSubColor" ng-model="$ctrl.newSub.color" class="form-control"></input>
				<label for="txtSubName">Subject Thumbnail:</label>
				<input type="file" id="txtImg" vizi-file-model="imgFile" class="form-control"></input>
				<label>Thumbnail Path:</label>
			    <p class="form-control-static">{{$ctrl.newSub.thumb}}</p>
				<button type="button" class="btn btn-primary" id="btnCreate" ng-click="$ctrl.uploadThumbnail()">{{$ctrl.buttonText}}</button>
				{{$ctrl.fileStatus}}
			</div>
		</div>
    </div>
	<div class="col-md-3">
		<img src="{{$ctrl.thumbPreviewUrl}}" width="100" height="175" />
	</div>
  </div>

