<h1>Users</h1>
<div>
    <div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<text>List of {{$ctrl.userTypeLabel}}: ({{$ctrl.users.length}})</text>
				<a href="#!users" class="whiteText floatRight">Go to Summary</a>
			</div>
			<div class="panel-body">
				{{$ctrl.statusText}}
			    <table class="table table-striped table-bordered table-hover table-condensed">
					<tr>
						<th>Name</th>
						<th>IX User?</th>
						<th>Key</th>
						<th>Email</th>
						<th>Mobile No</th>
						<th>City</th>
						<th>Source</th>
						<th>App Version</th>
						<th>Phone</th>
						<th>Network</th>						
						<th>OS</th>
						<th>Joined On</th>
					</tr>
					<tr ng-repeat="u in $ctrl.users">
						<td>{{u.name}}</td>
						<td><input type="checkbox" ng-checked="$ctrl.isIXUser('{{u.userType}}')" ng-click="$ctrl.toggleUserTypeFlag(u.key, u.name)"/></td>
						<td>{{u.key}}</td>
						<td>{{u.email}}</td>
						<td>{{u.mobileNo}}</td>
						<td>{{u.city}}</td>
						<td>{{u.regSource}}</td>
						<td>{{u.appVersion}}</td>
						<td>{{u.phoneMake}} : {{u.phoneModel}}</td>
						<td>{{u.networkType}}</td>
						<td>{{u.osVersion}}</td>						
						<td>{{u.joinedOn}}</td>
					</tr>
				</table>
			</div>
		</div>
    </div>
</div>

