<h1>Users</h1>
<div>
    <div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<text>ViZi Users Summary</text>
				<a href="" class="whiteText floatRight" ng-click="$ctrl.resetUserSummaryCounters()">Reset</a>
			</div>
			<div class="panel-body users-summary-panel">
				<a href="" class="" ng-click="$ctrl.loadUserSummary()">Refresh</a>
				{{$ctrl.usersStatusText}}
				<div>
					<label>Total Registered Users: </label><a href="#!usersList/ALL">{{$ctrl.totalRegistrations}}</a>
				</div>	
				<div>
					<label>Parents: </label><a href="#!usersList/Parent"> {{$ctrl.totalParents}}</a>
				</div>
				<div>
					<label>IX Users: </label><a href="#!usersList/IX"> {{$ctrl.ixUsers}}</a>
				</div>		
				<div>
					<label>Total Students: </label><a href="#!studentsList"> {{$ctrl.totalStudents}}</a>
					[ <text ng-repeat="(std, cnt) in $ctrl.studCountPerStd"> {{std}} ({{cnt}}),</text> ]					
				</div>
				<div>
					<label>App Versions: </label>
					[ <text ng-repeat="(ver, cnt) in $ctrl.appVersions"> {{ver}} ({{cnt}}),</text> ]					
				</div>
			</div>
		</div>
    </div>
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<text>Per Day Active Users</text>
				<a href="#!consMatrix" class="whiteText floatRight">Consumption Matrix</a>
			</div>
			<div class="panel-body users-summary-panel">
				<a href="" class="" ng-click="$ctrl.loadUsageCounters()">Refresh</a>
				{{$ctrl.usageStatusText}}
				<div>
					<label>Total Time spent : </label>{{$ctrl.totalTimeSpent}}
				</div>
				<table>
					<tr ng-repeat="(day, tmp) in $ctrl.hashPerDay">
						<td class="col-md-1">
							<a href="#!consumption/{{day}}">{{day}} : </a>
						</td>
						<td class="col-md-2">
							{{tmp.activeUsers}} ({{$ctrl.secondsToHms(tmp.timespent)}})
						</td>
					</tr>
				</table>
			</div>
		</div>
    </div>
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<text>Usage Tracker</text>
				<a href="" class="whiteText floatRight" ng-click="$ctrl.resetUsageCounters()">Reset</a>
			</div>
			<div class="panel-body users-summary-panel">
				<a href="" class="" ng-click="$ctrl.loadUsageCounters()">Refresh</a>
				{{$ctrl.usageStatusText}}
					<a href="" class="floatRight" ng-click="$ctrl.importLegacyUsageEvent()">Import Legacy Events : {{$ctrl.legacyEvents}}</a>
				<div>
					<label>Total Time spent by all Users: </label>{{$ctrl.totalTimeSpent}}
				</div>	
				<label><u>Per Standard : </u></label>
				<table>
					<tr ng-repeat="(std, timespent) in $ctrl.hashPerStandard">
						<td class="col-md-1">
							{{std}} :
						</td>
						<td class="col-md-2">
							{{$ctrl.secondsToHms(timespent)}}
						</td>
					</tr>
				</table>
				<label><u>Per Subject : </u></label>
				<table>
					<tr ng-repeat="(sub, timespent) in $ctrl.hashPerSubject">
						<td class="col-md-1">
							{{sub}} :
						</td>
						<td class="col-md-2">
							{{$ctrl.secondsToHms(timespent)}}
						</td>
					</tr>
				</table>
				<label><u>Per Chapter : </u></label>
				<table>
					<tr ng-repeat="(chap, timespent) in $ctrl.hashPerChapter">
						<td class="col-md-1">
							{{chap}} :
						</td>
						<td class="col-md-2">
							{{$ctrl.secondsToHms(timespent)}}
						</td>
					</tr>
				</table>
			</div>
		</div>
    </div>
	<div ng-repeat="d in $ctrl.dummy">{{d}}</div>
</div>

