<h1>Consumption Matrix</h1>
<div>
    <div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<text>Daily Consumption by All Students : {{$ctrl.studentsCount}}</text>
			</div>
			<div class="panel-body">
				{{$ctrl.statusText}}
				
				<div id="tblMatrix"></div>
			</div>
		</div>
    </div>
  </div>

