<h1>Daily Consumption</h1>
<div>
    <div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<text>Consumption on : {{$ctrl.date}}</text>
			</div>
			<div class="panel-body">
				{{$ctrl.statusText}}
				<div>
					<label>Active Users : </label> {{$ctrl.activeUserCount}}
				</div>
				<div>
					<label>Total Time Spent : </label> {{$ctrl.totalTimeSpent}}
				</div>
			    <ul> 
					<li ng-repeat="con in $ctrl.consumption"> 
						<label><a href="#!studentConsumption/{{con.key}}">{{con.studentName}}</a> : ({{ con.totalTime }})</label>
						<ul>
							<li ng-repeat="chap in con.perChapterTime"> 
								<text>{{chap}}</text>
							</li> 
						</ul>
					</li> 
				</ul> 
			</div>
		</div>
    </div>
  </div>

