body {
  padding: 20px;
  font-size: 12px !important;
}

h1 {
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}

select input {
	font-size: 12px !important;
}

li {
	padding-bottom: 3px;
}

.btn {
	margin-top: 8px;
}

.whiteText {
	color: white;
}

.floatRight {
	float: right;
}

.loginInfoBox {
	float: right;
	padding: 8px;
}

.form-control {
	height: 28px !important;
	font-size: 12px;
}

textarea.form-control {
	height: auto !important;
}

.panel-heading{
	font-size: 14px;
}

.panel-body label{
	margin-top: 5px;
	margin-bottom: 2px;
}

.chart-Preview {
	height: 300;
	width: 600; 
}

.users-summary-panel div label {
	padding: 3px;
	
}