<h3>Login to Vizi Portal</h3>
<head>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="bower_components/firebaseui/dist/firebaseui.css" />
    <link rel="stylesheet" href="app.css" />

	<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
	<script src="bower_components/firebaseui/dist/firebaseui.js"></script>
	<script src="core/core.firebase-database.js"></script>
	<script>
		// FirebaseUI config.
		var uiConfig = {
			signInSuccessUrl: 'index.html',
			signInOptions: [
				// Leave the lines as is for the providers you want to offer your users.
				firebase.auth.GoogleAuthProvider.PROVIDER_ID
			],
			// Terms of service url.
			tosUrl: ''
			};

			// Initialize the FirebaseUI Widget using Firebase.
			var ui = new firebaseui.auth.AuthUI(firebase.auth());
			// The start method will wait until the DOM is loaded.
			ui.start('#firebaseui-auth-container', uiConfig);
	</script>
</head>
<body>
	<div id="firebaseui-auth-container"></div>
</body>