<div>
	<div class="col-md-12 form-group">
	  <!--Body content-->
		<h1>Select menu : </h1>
		<ul> 
			<li> 
				<a href="#!patterns">Patterns</p> 
			</li> 
			<li> 
				<a href="#!standards">Standards</p> 
			</li> 
			<li> 
				<a href="#!subjects">Subjects</p> 
			</li> 
			<li> 
				<a href="#!chapters">Chapters</p> 
			</li> 
			<li> 
				<a href="#!charts">Charts</p> 
			</li> 
			<li> 
				<a href="#!users">Users</p> 
			</li> 
		</ul> 
	</div>
</div>